
.login{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    
}


.body{
    width: 100%;
    height: 100%;
}

.headbanner{
    display: flex;
    justify-content: start;
    padding-left: 10px;
    background-color: darkgray;
    border-radius: 10px 10px 10px 10px;

}
.h2{
    margin-left: 50px;
}

.menuBt{
    min-height: 20px;
    min-width: 50px;
    border: none;
}

/* Das hier oben ist für die Login seite */

/* Das hier unten ist für die Nootentool seite  */





#semester1.visible{
    display: none;
} 


 #semester1{
    visibility: visible;
} 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.semester1 {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.2s;
}

.semester1:hover {
    background-color: #e9e9e9;
}

#semester1Btn {
    margin-bottom: 10px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    /* position: absolute;
    top: 45px;
    right: 190px; */
}

.add-button:hover {
    background-color: #0056b3;
}



.calculator-icon {
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.2s;
}

.calculator-icon:hover {
    color: #0056b3;
}


.addSubjectToDb{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}







/* calculator css down here */


#noteinput{
    max-width: 300px;
}